{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "plugins": ["react", "jest", "jsx-a11y", "import"],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "react/forbid-prop-types": "off",
    "arrow-body-style": "warn",
    "arrow-parens": "off",
    "function-paren-newline": "off",
    "linebreak-style": "off",
    "react/jsx-filename-extension": "off",
    "sort-keys": "warn",
    "no-underscore-dangle": "off"
  }
}
